---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "base";
@import 'navbar';

$content-width: 60rem;

body {
	background-color: $ultra-light-gray;
}

.content {
	width: 100%;
	max-width: $content-width;
	@include border-box;
	padding: 0 1rem;
	margin: 0 auto;

}

.install {
	border: 1px solid $white;
	padding: 1rem;
	@extend .h3;
	float: right;
}

section {
	padding: 5rem 0;

	&:not(.hero) + section {
		padding-top: 0;
	}

	&.hero {
		@extend .purple;
		padding: 10rem 0;
	}
}

footer {
	background-color: $dark-purple;
	color: $white;
	padding: 2rem 0;

	p {
		display: inline-block;
		margin: 0;
	}
	a, a:hover {
		color: $white;
        border-bottom: 1px solid $white;
    }
}