<section class="hero">
  <div class="content">
    <h1 class="footer-heading">
      Stop stalling,
    </h1>
    <h1><a href="https://github.com/danrschlosser/substituteteacher.js/releases/download/v0.1/replace.min.js">start installing.</a></h1>
  </div>
</section>
<footer>
  <div class="content">
    <p>
      Made by <a href="https://schlosser.io">Dan</a>.
    </p>
    <p class="right">
      Found a bug? <a href="https://github.com/substituteteacher.js/issues/new">Submit an issue</a>.
    </p>
  </div>
</footer>
