/**************************************************
 * colors.scss - Dan Schlosser <dan@schlosser.io> *                                               *
 *                                                *
 * The colors used in the app.                    *
 **************************************************/


$white: #FFFFFF;
$ultra-light-gray: #F9F9F9;
$light-gray: #E5E5E5;
$gray: #919191;
$dark-gray: #222222;
$black: #000000;
$transparent: rgba(255,255,255,0);
$purple: #9D39FF;
$dark-purple: #4E1C7F; //#462C7F; //hsla(258.7, 100.0%, 20.3%, 1.0);
$blue: #263B82;

