/*********************************************************
 * media_queries.scss - Dan Schlosser <dan@schlosser.io> *
 *                                                		 *
 * Variables for the different breakpoints for the app.  *
 *********************************************************/

$phone-max: 640px;
$tablet-portrait-min: 641px;
$tablet-portrait-max: 768px;
$tablet-landscape-min: 769px;
$tablet-landscape-max: 1024px;
$desktop-min: 1025px;
$desktop-max: 1440px;
$xl-desktop-min: 1441px;
$xl-desktop-max: 1920px;
$xxl-desktop-min: 1921px;

