/*******************************************************
 * typography.scss - Dan Schlosser <dan@schlosser.io>  *
 *                                                     *
 * All of the typographic variables for the app.       *
 *******************************************************/

// Font weights
$ultra-bold: 900;
$bold: 700;
$regular: 400;
$thin: 300;

// Fonts
$sans: 'Roboto', Helvetica, Ariel, sans-serif;
$display: 'Lato', sans-serif;
$monospace: "Lucida Console", Monaco, monospace;